#about-me{
    background-color: #f9f7f7;
    #about-me-reg{
        width: 80%;
        @include position();
        margin: 20px auto;
        margin-bottom: 0px;
        padding-bottom: 50px;
        gap: 20px;
        .about-me-block{
            width: 55%;
            img{
                width: 85%;
            }
            .author-text{
                p{
                    font-size: 1.5rem;
                    line-height: 150%;
                    text-align: justify;
                }
                .index{
                    padding-top: 25px;
                    text-align: center;
                    font-size: 1.8rem;
                    .active{
                        color: $primary-color;
                    }
                }
            }
        }
        .img{
            width: 35%;
        }
    }
}

#form{
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(81,186,240, 0) 0%, rgba(81,186,240, 0) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(81,186,240),rgb(23,66,130));
    #forma-reg{
            @include position();
            margin: 0px 50px;
        #forma-reg1{
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(11.6px);
            margin: 50px;
            width: 40%;
            padding: 40px 20px;
        .forma-block.forma-email{
                input{
                    width: 100%;
                }
            }
        .forma-block{
            @include position();
            width: 90%;
            margin: 10px auto;
                input{
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid #f9f7f7;
                    padding: 10px 20px;
                    margin: 20px;
                    width: 100%;
                    // border-radius: 10px;
                    font-size: 1rem;
                }
                input[type="submit"]{
                    background-color: $secondary-color;
                    border: none;
                    border-radius: 10px;
                    width: 23%;
                    font-size: 1.3rem;
                    border: 2px solid $secondary-color;
                    cursor: pointer;
                    display: inline-block;
                    transition: .5s all ease-in-out;
                    &:hover{
                        background-color: transparent;
                        color: #f9f7f7;
                    }
                }
                ::placeholder{
                    color: $black;
                }
                textarea{
                    width: 100%;
                    resize: none;
                    background-color: #f9f7f7;
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 2px solid $white;
                    font-size: 1rem;
                }
            }
        }
        #contact-data{
            border-radius: 16px;
            margin: 50px;
            width: 30%;
            padding: 40px 20px;
            .contact-block{
                iframe{
                    margin: 5px auto;
                    width: 100%;
                    height: 300px;
                }
                .contact-block-items{
                    font-size: 1.5rem;
                    text-align: center;
                    i{
                        padding: 15px 10px;
                        color: $white;
                    }
                    ul{
                        li{
                            display: inline-block;
                            font-size: 2rem;
                            padding: 15px 0px;
                            i{
                                color: $black;
                                padding: 15px;
                                transition: .5s all ease-in-out;
                                &:hover{
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    padding: 15px;
    .footer-info{
        text-align: center;
        font-size: 1.5rem;
        padding-top: 5px;
        ul{
            li{
                display: inline-block;
                a{
                    color: $primary-color;
                    font-size: 1.8rem;

                }
            }
        }
    }
}